In [84]:
# Import Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import pandas as pd
import pymongo

In [85]:
# Choose the executable path to driver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless = False)

# -------------------- Part 1 - NASA Mars News --------------------

In [86]:
# Visit the NASA news url 
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [87]:
# Html Objects
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [88]:
# Retrive the latest news title and news paragraph
article = soup.find('li', class_='slide')
date = article.find('div', class_='list_date').text
news_title = soup.find('div', class_='content_title').text
news_p = soup.find('div', class_='article_teaser_body').text

In [89]:
# Display the title and paragraph using print
print(date)
print()
print(news_title)
print("\n-----------------------------\n")
print(news_p)

April 29, 2020

Mars Now

-----------------------------

As a longtime fan of space exploration, Vaneeza Rupani appreciates the creativity and collaboration involved with trying to fly on another planet.

# -------------------- JPL Mars Space Images - Featured Image --------------------

In [90]:
# Visit the url for JPL Featured Space Image
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless = False)

In [91]:
# image for the url
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)

In [92]:
# Parse HTML with Beautiful Soup
html = browser.html

soup = BeautifulSoup(html, 'html.parser')

In [109]:
image = soup.find('img', class_='thumb')['src']
featured_image_url = 'https://www.jpl.nasa.gov' + image
print()
print(featured_image_url)

https://www.jpl.nasa.gov/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png

# -------------------- Mars Weather --------------------

In [94]:
# Visit the url for Mars Weather Twitter Account
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless = False)

In [95]:
# Visit the Twitter Account for Tweets
tweet_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(tweet_url)

In [96]:
# Visit the Twitter Account for Weather Tweets
request = requests.get('https://twitter.com/marswxreport?lang=en')

soup = BeautifulSoup(request.content, 'html.parser')

In [97]:
# Retrive the latest twitter Mars Weather
mars_weather_tweet = soup.find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text

In [98]:
# Display the current tweet
print(mars_weather_tweet)

Lovely view of Gale Crater right in the middle of this. https://twitter.com/landru79/status/1255504178719404034 …pic.twitter.com/m38l1OIKHE

# -------------------- Mars Facts --------------------

In [99]:
# Visit the url for Mars Facts
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless = False)

In [100]:
# URL for the Mars Facts
url_facts = 'https://space-facts.com/mars/'
browser.visit(url_facts)

In [101]:
# Parse HTML with Beautiful Soup
html = browser.html

soup = BeautifulSoup(html, 'html.parser')

In [102]:
table = pd.read_html(url_facts)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [103]:
table [1]

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C

# -------------------- Mars Hemispheres --------------------

In [104]:
# Visit the url for Mars Hemispheres
hemispheres_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemispheres_url)

In [105]:
# URL for the Mars Hemispheres
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [106]:
# List for Mars Hemisphere full images
mars_hemisphere = []

products = soup.find("div", class_ = "result-list" )
hemispheres = products.find_all("div", class_="item")

for hemisphere in hemispheres:
    title = hemisphere.find("h3").text
    title = title.replace("Enhanced", "")
    end_link = hemisphere.find("a")["href"]
    image_link = "https://astrogeology.usgs.gov/" + end_link    
    browser.visit(image_link)
    html = browser.html
    soup=BeautifulSoup(html, "html.parser")
    downloads = soup.find("div", class_="downloads")
    image_url = downloads.find("a")["href"]
    mars_hemisphere.append({"title": title, "img_url": image_url})

In [108]:
mars_hemisphere

[{'title': 'Cerberus Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere ',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]